<h1> About goodmatches </h1>

goodmatches helps you keep up with the latest college football statistics from each of the major conferences across the country. It utilizes the <a href="http://developer.sportsdatallc.com/docs/NCAA_Football_API">SportsData API</a> to gather the most up to date information.

<h1> About me </h1>

I'm currently compeleting my last year of a CS degree at UC Berkeley. I have recently found a passion for web debvelopment, and am actively trying to express that by pushing myself to build web applications whenever I can find the time. I'm also actively looking for full-time employment as a Software Engineer. 

Thanks for checking out goodmatches!
