 <div ng-controller='DivisionCtrl'>
   <div ng-show="selected.name == null" id="division-choice">
     <h1>Select a Division</h1>
     <ul ng-repeat="division in divisions">
       <li>
	 <h2>
	   <a href='' ng-click="viewDivision(division.id); gotoAnchor('statistics'); getStats(division.label);">{{division.name}}</a> 
	 </h2>
       </li>
     </ul>
   </div>
 </div>
   <!-- <h1>Selected Division</h1> -->
   <!-- <div class="selected">
   <h2>{{selected.name}}</h2>
   </div> -->
   <div ng-show="selected.name != null" id="statistics">
     <h1>{{selected.name}} Teams</h1>
     <a href="" ng-click="selected.name = null;">Select another division</a>
     <br>
     <table ng-table="tableParams" class="table">
       <tr>
	 <th>Name</th>
	 <th>Wins</th>
	 <th>Losses</th>
       </tr>
       <tr ng-repeat="(team,stat) in stats" ng-class="{ 'emphasis': user.money > 500 }">
         <td data-title="'Name'">
	   {{stat[0]}}
         </td>
         <td data-title="'Wins'">
	   {{stat[1]['wins']}}
         </td>
         <td data-title="'Losses'" >
	   {{stat[1]['losses']}}
         </td>
       </tr>
     </table>     
   </div>
 </div>
